@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3e5d3;
  color: #333;
  margin: 0;
  padding: 0;
}

.menu {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #6b4f4f;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.75rem;
  color: #6b4f4f;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
  padding-left: 10px;
}

.item, .price {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.price {
  font-weight: bold;
  color: #6b4f4f;
}

.cafe-cofees, .cafe-image, .cafe-sandwhich {
  display: block;
  margin: 0 auto 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section {
  margin: 20px 0;
}

.tea, .sandwhich,.Coffee{
  text-align: center;
}

#Tea, #sandwhich,#Coffee{
  margin-top: 10px;
}

.type {
  font-size: 1rem;
  color: #555;
}

.flavour {
  font-size: 1.2rem;
}

